[Desktop Entry]
Name=QGDW12184Tool
GenericName=QGDW12184Tool
Comment=QGDW12184Tool By HYH
Exec=QGDW12184Tool
Icon=QGDW12184Tool
Type=Application
Categories=Util;Iot;
